  <!--Bottom Navigation-->
   <!--File Name:bottom_nav.ejs
    Name: Prajwal
    Student ID 301243308
    Date 2 October 2022-->

 <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      
        <h6 class="display-7 navbar-text">&nbsp;&nbsp;&nbsp;  &copy; Copyright 2022. All rights reserved to Prajwal</h6>
      
    </nav>
  </footer>