<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<!--File Name:about.ejs
    Name: Prajwal
    Student ID 301243308
    Date 2 October 2022-->

<html>
<head></head>
<body>
<div style="padding-top: 20px;">
<h2 style="position: absolute; width: 400px; height: 600px; left: 100px">About me</h2>


<br><br><br>
<img src="/Assets/images/Prajwal.jpg" height="340px" width="360px" style="position: absolute; left: 100px"><br><br>
<p style="position: absolute; left: 600px">Name: Prajwal Purohit</p><br><br>
<p style="position: absolute; left: 600px">
Hey There! I'm a third semester student at the Centennial college studying<br>
Software Engineering Technology. I am from Delhi, the national capital of India but currently reside <br>
in Scarborough, Canada. I am a filmmaking enthusiast. I like to meet new people and travel new places. I <br>
have a keen curiosity about things and love to learn about new cultures, regions and experienes.
<br><br>
Resume:
<a href="/Assets/PrajwalResume.pdf">Click Here</a>
</p>
</div>
</body>
</html>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>