<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<!--File Name:projects.ejs
    Name: Prajwal
    Student ID 301243308
    Date 2 October 2022-->

<html>
<head></head>
<body>
<div style="padding-top: 20px;">
<h2 style="position: absolute; left: 100px">Projects:</h2>
<br><br>

<img style="position: absolute; left: 100px" src="Assets/images/project1.jpg" width="200px">
<p style="position: absolute; left: 350px">
<strong>Always awake screen</strong><br>
Developed a software that lets you keep the sreen awake for ever in order to not get logged out of games requiring constant stimulus.
<br>
Role: Designing
</p>
<br><br><br><br><br><br><br>



<img style="position: absolute; left: 100px" src="Assets/images/project2.jpg" width="200px" length="200px">
<p style="position: absolute; left: 350px">
<strong>PacMan Game</strong><br>
Designed the Graphics User Interface for a replica of PacMan game.
<br>
Role: Designing
</p>
<br><br><br><br><br><br><br><br><br><br>

<img style="position: absolute; left: 100px" src="Assets/images/project3.jpg" width="200px">
<p style="position: absolute; left: 350px">
<strong>Auto Clicker</strong><br>
Designed, documented and implemented the clicking tool that lets you click spontaneously without the need to touch the mouse.
<br>
Role: Designing, Implementation
</p>
<br><br><br><br><br><br><br>
</div>
</body>
</html>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>