<!--File Name:services.ejs
    Name: Prajwal
    Student ID 301243308
    Date 2 October 2022-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<html>
<head></head>
<body>
<div style="padding-top: 20px;">
<h2 style="position: absolute; left: 100px">Services:</h2>
<br><br><br>



<img style="position: absolute; left: 100px" src="Assets/images/service1.jpg" height="100px">
<p style="position: absolute; left: 350px">Website Development</p>
<br><br><br><br><br>


<img style="position: absolute; left: 100px" src="Assets/images/service2.jpg" height="100px">
<p style="position: absolute; left: 350px">Android app Development</p>
<br><br><br><br><br>


<img style="position: absolute; left: 100px" src="Assets/images/service3.jpg" height="100px" width="200px">
<p style="position: absolute; left: 350px">Database development</p>
<br><br><br><br><br>


<img style="position: absolute; left: 100px" src="Assets/images/service4.jpg" height="100px">
<<p style="position: absolute; left: 350px">Data Entry</p>
<br><br><br><br><br>


<img style="position: absolute; left: 100px" src="Assets/images/service5.jpg" height="100px">
<p style="position: absolute; left: 350px">Data Analyzing</p>
<br><br><br><br><br><br>

</div>
</body>
</html>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>